$base-color: #3287a8;
$hover-color: red;

header{
    .logo {
        color: $base-color;
    }

    #hashtag {

        font-size: x-large;

        color: black;
    }

    .hamburger {

        background-color: $base-color;
        border-radius: 20%;
    }
}
